@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

#navbar > ul > li.nav-item.active > a {
    opacity: 0.6;
    transition: 0.3s;
}

#navbar > ul > li.nav-item.active > a:hover {
    opacity: 1.0;
}

/**
    Navbar item effects
**/
#navbar > ul > li.nav-item > a {
    opacity: 0.6;
    transition: 0.3s;
}

#navbar > ul > li.nav-item > a:hover {
    opacity: 1.0;
}
